
body {
    font-family: calibri;
    margin: 0 !important;
    padding: 0 !important;
}

.container-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
}

.container {
    list-style: none;
}

#temperature {
    font-size: 6rem;
}

#image {
    display: inline;
}

#raining > .raining {
    display: block;
}

#raining > .notRaining {
    display: none;
}

#chartcontainer {
  margin-top: 4rem;
  width: 90vw;
}

#chartcontainer > .header {
  font-size: 1.6em;
  background-color: #b0b0b0;
  margin-bottom: 1rem;
}
